.do-TreeSelect {
    margin: auto;
    border: 1px solid #d9d9d9;
    outline: none;
    line-height: normal;
    box-sizing: border-box;
}
.do-TreeSelectList {
    box-sizing: border-box;
    overflow: unset;
    outline: none;
}

/* treeNode */
.do-TreeNode {
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    margin-right: 15px;
    padding-right: 10px;
    display: inline-block;
}
.do-TreeNode .active {
    background-color: #bae7ff;
}
.do-title {
    padding: 0 5px;
}
.do-TreeNode .disabled{
    color: #b8b8b8;
}

.do-TreeSelectList .do-fadeIn {
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: .2s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}
.do-TreeNode:hover {
    color: #4093fc;
}
.do-TreeNode:hover .do-expandIcon i:before {
    border-color: #4093fc;
}
.do-TreeNode > div {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.do-TreeNode > div > div {
    display: inline-block;
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.5; /*中间状态 透明度为0*/
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1; /*结尾状态 透明度为1*/
    }
}

/* Icon */
.do-expandIcon {
    display: inline-block;
    width: 30px;
}
.do-expandIcon i {
    display: inline-block;
    vertical-align: middle;
}
.do-expandIcon i:before {
    display: inline-block;
    margin: 0 10px;
    content: '';
    width: 7px;
    height: 7px;
    border: solid #999;
    border-width: 1px 1px 0 0;
    -webkit-transform: translate(0, -40%) rotate(45deg);
    transform: translate(0, -40%) rotate(45deg);
    transition: transform 0.2s ease;
    box-sizing: border-box;
}

.do-expandIcon .do-expand:before {
    -webkit-transform: translate(0, -60%) rotate(135deg);
    transform: translate(0, -60%) rotate(135deg);
}
.do-expandIcon .none {
    display: none;
}

.do-TreeSelect .ReactVirtualized__List {
    outline: none;
    overflow: auto !important;
}

.ReactVirtualized__List {
    padding-top: 5px;
}

.do-TreeSelect .ReactVirtualized__Grid__innerScrollContainer {
    overflow: unset !important;
}

/* checked */
.do-checkbox {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    top: -0.09em;
    margin: 4px 8px 4px 4px;
    width: 14px;
    height: 14px;
}
.do-TreeNode .do-checkbox .disabled {
    background-color: #b8b8b8;
    border-color: #b8b8b8;
}
.do-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box;
}
.do-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(0);
    -ms-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 3px;
    top: 1px;
    display: table;
    width: 4px;
    height: 7px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
        opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    opacity: 0;
    box-sizing: border-box;
}
.do-checkbox-checked .do-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
}

.do-checkbox-halfChecked .do-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
}

.do-checkbox-checked .do-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    opacity: 1;
    box-sizing: border-box;
}

.do-checkbox-halfChecked .do-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: absolute;
    left: 2px;
    top: 4px;
    width: 6px;
    height: 0px;
    box-sizing: border-box;
}

/* custom */
.do-customIcon {
    margin: 0 8px;
}
.do-TreeNode:hover .do-customIcon i{
    display: inline-block;
}
.do-customIcon i{
    margin: 0 5px;
    display: none;
}

/* spinner */
.spinner {
    margin: 100px auto;
    width: 20px;
    height: 20px;
    position: relative;
  }
   
  .container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #49a9ee;
   
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
   
  .spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
   
  .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
   
  .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
   
  .circle1 { top: 0; left: 0; }
  .circle2 { top: 0; right: 0; }
  .circle3 { right: 0; bottom: 0; }
  .circle4 { left: 0; bottom: 0; }
   
  .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
   
  .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
   
  .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
   
  .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
   
  .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
   
  .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
   
  .container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
   
  .container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
   
  .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
   
  .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
   
  .container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
   
  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
  }
   
  @keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }